body {
    max-width: 100%;
}
div#article {
    margin: 0;
    padding: 0;
    width: 54%;
    height: fit-content;
    min-height: 900px;
	float: right;
}
textarea#mdInput {
    font-size: 15px;
    margin: 0;
    padding: 15px;
    margin-right: 1%;
    width: 45%;
    height: 980px;
}
body > h2 {
    clear:both;
}
div#article h1 {
    visibility: visible;
    margin: .5em;
    padding: 0;
    width: fit-content;
    height: fit-content;
}
div#article > h1 + p {
    color: initial;
    float: none;
}
