:root {
    --main-bg-color: whitesmoke;
    --bar-color: mediumseagreen;
    --dark-bar-color: rgb(19, 92, 52);
    --border-color: #bec0c2;    /* #8e9093 */
    --dark-bg-color: gainsboro;
    --code-bg-color: #3f4f4f;
    --dark-gray-color: rgb(124, 124, 124);
    --times-font: 'Times New Roman', Times, serif;
    --default-font-size: large;
}
/* .MathJax { font-size: 1.5em !important; } */
body {
    padding-top: 3em;
    background-color: var(--main-bg-color);
}
/* footer */
body > p {
    font-size: .8em;
}

/* update date */
div#article > h1 + p {
    margin: 0;
	padding: 0;
    float: right;
    color: var(--dark-gray-color);
}
/* Sections */
div#article > h2 {
    counter-reset: sub-chapter;
}
div#article > h3 {
    counter-reset: section;
}
div#article > h2::before {
    counter-increment: chapter;
    content: counter(chapter, upper-roman) ". ";
    font-family: var(--times-font);
}
div#article > h3::before {
    counter-increment: sub-chapter;
    content: counter(chapter, upper-roman) "."counter(sub-chapter, decimal)". ";
    font-family: var(--times-font);
}
div#article > h4::before {
    counter-increment: section;
    content: counter(chapter, upper-roman) "."counter(sub-chapter, decimal)"."counter(section, decimal)" ";
    font-family: var(--times-font);
}

/* Top menu */
div#article > h1 {
    margin: 0;
    padding: .5em 1em;
    font-size: 1.5em;
    color: var(--main-bg-color);
    background-color: var(--bar-color);
    position: fixed; top: 0px; left: 0;
    width: 100%;
    z-index: 2;
    counter-reset: chapter;
}
div#TopMenu ul,
div#TopMenu ol,
div#TopMenu li,
div#TopMenu a {
    margin: 0;
    padding: 0;
}
div#TopMenu {
    position: fixed; top: 0.5em; right: .5em;
    z-index: 3;
    background-color: unset;
}
div#TopMenu > ul {
    list-style-type: none;
    display: flex;
}
div#TopMenu li {
	padding: .5em 1em;
    height: 1.5em;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--border-color);
    border-radius: 1.5em;
    background-color: var(--main-bg-color);
    overflow: visible;
    float: left;
}
div#TopMenu a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
/* Top sub-menu */
div#TopMenu > ul > li > ul {
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
}
div#TopMenu > ul > li > ul > li {
    font-size: .9em;
    /* position: relative; */
    float: none;
}
div#TopMenu > ul > li:hover ul {
    animation-duration: .2s;
    animation-name: fade-in;
    visibility: visible;
    opacity: 1;
}
@keyframes fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

