:root {
    --main-bg-color: whitesmoke;
    --bar-color: mediumseagreen;
    --dark-bar-color: rgb(19, 92, 52);
    --border-color: #bec0c2;    /* #8e9093 */
    --dark-bg-color: gainsboro;
    --code-bg-color: #3f4f4f;
    --dark-gray-color: rgb(124, 124, 124);
    --times-font: 'Times New Roman', Times, serif;
    --default-font-size: large;
    --nav-heigh: 3rem;
}
/* .MathJax { font-size: 1.5em !important; } */
html {
    font-size: 16px;
    text-size-adjust: 200%;
    -webkit-text-size-adjust: 200%;
}
body {
    background-color: var(--main-bg-color);
}
/* footer */
body > p {
    font-size: .8em;
}

/* update date */
div#article > h1 + p {
    margin: 0;
	padding: 0;
    float: right;
    color: var(--dark-gray-color);
}
/* Sections */
div#article > h1 {
    margin: 0;
	padding: 0;
    width: 0;
    height: 0;
    counter-reset: chapter;
    visibility: hidden;
}
div#article > h2 {
    counter-reset: sub-chapter;
}
div#article > h3 {
    counter-reset: section;
}
div#article > h2::before {
    counter-increment: chapter;
    content: counter(chapter, upper-roman) ". ";
    font-family: var(--times-font);
}
div#article > h3::before {
    counter-increment: sub-chapter;
    content: counter(chapter, upper-roman) "."counter(sub-chapter, decimal)". ";
    font-family: var(--times-font);
}
div#article > h4::before {
    counter-increment: section;
    content: counter(chapter, upper-roman) "."counter(sub-chapter, decimal)"."counter(section, decimal)" ";
    font-family: var(--times-font);
}

